# Core Flask Framework
Flask
Flask-CORS

# Database & ORM
SQLAlchemy
Flask-SQLAlchemy
psycopg2-binary
Flask-Migrate

# JWT
python-jose[cryptography]

# Environment Variable Management
python-dotenv

# Password Hashing & Security
Werkzeug

# Optional Utilities (for type hints and development)
typing-extensions

# Testing and Debugging Tools
pytest
Flask-Testing

# Image Handling
Pillow

# CORS & Authentication
flask-cors
python-jose